<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2017 Baidu, Inc. All Rights Reserved.
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tmac="http://code.tmac.com/schema/tmac"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://code.tmac.com/schema/tmac
                           http://code.tmac.com/schema/tmac/tmac.xsd">



        <tmac:annotation package="com.cjy.test"/>


</beans>